/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.sidebar{
    display: inline-grid;
    background-color: #51AEAE;
    color: #ffffff;
    grid-template-columns: 300px;
    grid-template-rows: repeat(10, 83.3px);
    text-align:right;
    padding-right: 30px;
    height: 200vh;
}

#dashboard{
    margin-left: 20px;
    margin-top: 60px;
    font-size: 2.7rem;
}
.sidebar-icons{
    display: inline-grid;
    background-color: rgb(78, 78, 0);
    grid-template-columns: 300px;
    grid-template-rows: repeat(10, 83.3px);
    margin-left: 30px;
    margin-top: 100px;
}

.icons{
    height: 3vh;
    filter: invert();
}
.header{
    display: grid;
    margin-left: 300px;
    margin-top: -1892px;
    height: 25vh;
    grid-template-rows: 100px;
    border-style: solid;
    border-width: 1px;
    color: #51AEAE;
    border-color: rgb(179, 175, 175);
    margin-bottom: 800px;
}

.name-profile{
    display: inline-grid;
    text-align: end;
    margin-top: -50px;
    margin-right: 70px;
}

.headerbuttons{
    display: grid;
    margin-top: -120px;
    margin-left: 59vw;
    margin-bottom: 200px;
    grid-template-columns: repeat(3, 140px);
    padding: 25px;
    margin-right: 30px;
}

.new,.upload,.share{
    border-radius: 100px;
    padding: 10px;
    border: none;
    background-color:#F47B7F;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    width: 120px;
    margin-left: 10px;
    margin-top: 36px;
   
}

.search-icon{
    position: absolute;
    height: 3vh;
    margin-left: 5vw;
    margin-top: 4vh;
    filter: invert(70%);
}

.searchbar{
    height: 40px;
    width: 50vw;
    margin-left: 150px;
    margin-top: 30px;
    border-radius: 100px;
    border: solid;
    border-width: 2px;
    border-color:#F47B7F;
    background-color: rgb(237, 252, 248);
}

.bell-icon{
    height: 3vh;
    position: absolute;
    margin-left: 66vw;
    margin-top: 4.5vh;
    filter:invert(70%);
}

.profile-picture-1, .profile-picture-2{
    border-radius: 100px;
    position: absolute;
}

.profile-picture-1{
    margin-left: 70px;
    margin-top: 100px;
    height: 100px;
    width: 100px;
}

.profile-picture-2{
    margin-left: 69vw;
    margin-top: 27px;
    height: 60px;
    width: 60px;
}

.name, .greeting{
    display: inline-grid;
    margin-left: 200px;
}

.greeting{
    margin-bottom: -10px;
}

.project-titles{
    position: absolute;
    display: grid;
    width: 50vw;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(3, 260px);
    margin-left: 25vw;
    margin-top: -78vh;
    padding-left: 30px;
    column-gap: 70px;
}

.cool, .lesscool, .impossible, .easy, .ad, .money{
    border: solid;
    border-width: 6px;
    padding: 25px;
    width: 20vw;
    color:#51AEAE;
    border-color: #F47B7F;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-radius: ;

}

.details{
    position: absolute;
    color: #677271;
    margin-left: 28vw;
    display: grid;
    width: 70vw;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 230px);
    margin-top: -70vh;
    column-gap: 170px;
    row-gap: 30px;
    
}

.your-projects{
    position: absolute;
    color:#51AEAE;
    margin-left: 20vw;
    margin-top: -82vh;
    font-size: 1.5rem;
}

.announcements{
    position: absolute;
    color:#51AEAE;
    margin-top: -2vh;
}

.sidebar2{
    display: grid;
    grid-template-columns: 300px;
    width: min-content;
    padding: 30px;
    margin-left: 78vw;
    position: absolute;
    margin-top: -79vh;
}

.site, .community, .privacy{
    color: #51AEAE;
}

.site-details, .community-details, .privacy-details{
    color: #677271;
    overflow: scroll;
    height: 100px;
}

.trending{
    color: #51AEAE;
}

.usernames{
    display: grid;
    justify-content: flex-end;
    padding: 50px;
    padding-top: 20px;
    color:#677271
}

.trending-profile-pictures{
    display: grid;
    width: min-content;
    margin-top: -220px;
    margin-left: 100px;
    grid-template-rows: repeat(3,60px);
    row-gap: -12px;
}

.trending-pictures{
    height: 40px;
    width: 40px;
    border-radius: 100px;
}